# Compiled class files
*.class

# Maven / Gradle
target/
build/

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
*.vs
*.vscode
*.project
*.classpath
*.settings/

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.bak
*.swp
*.swo
hs_err_pid*

# Spring Boot specific
*.jar
*.war
*.ear

# Environment variables
.env

# Logs dir
logs/
